---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import { partnersData } from "@/data_files/constants";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1a4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Learn More About Elementum Energies"
    url="/about"
  />

  <HeroSection
    title=`Empowering Industrial Excellence with <span
        class="text-yellow-500 dark:text-yellow-400">Elementum Energies</span>`
    subTitle="A leading provider of innovative and reliable solutions for industrial applications across diverse sectors."
    primaryBtn="Discover Our Solutions"
    primaryBtnURL="/products"
    secondaryBtn="Contact Us"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Trusted by over <span class="font-bold">12.8k</span> clients`
    src={heroImage}
    alt="Array of industrial products and solutions by Elementum Energies"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Partnered with the most reputable manufacturers and suppliers in the industry."
    partners={partnersData}
  />

  <FeaturesGeneral
    title="Delivering Excellence in Industrial Solutions"
    subTitle="At Elementum Energies, our commitment to safety, efficiency, and sustainability drives us to deliver tailored solutions for even the most demanding industrial applications."
    src={featureImage}
    alt="Showcase of industrial solutions by Elementum Energies"
    features={features}
  />

  <FeaturesNavs
    title="Tailored Solutions for Every Industry"
    tabs={[
      {
        heading: "Pipes & Fittings",
        content:
          "Explore our high-quality pipes, fittings, and flanges engineered for critical industrial applications in Oil & Gas and beyond.",
        svg: "tools",
        src: tools,
        alt: "Industrial pipes and fittings on display",
        first: true,
      },
      {
        heading: "Fasteners & Gaskets",
        content:
          "Discover reliable fasteners and sealing solutions designed for performance and durability in challenging environments.",
        svg: "dashboard",
        src: dashboard,
        alt: "Precision fasteners and gaskets arranged neatly",
        second: true,
      },
      {
        heading: "Valves & Equipment",
        content:
          "Access quality valves and industrial equipment that ensure safety, efficiency, and operational excellence.",
        svg: "house",
        src: construction,
        alt: "Industrial valves and equipment in operation",
      },
    ]}
  />

  <TestimonialsSection
    title="Accelerate Your Industrial Success"
    subTitle="At Elementum Energies, our dedicated team and innovative solutions drive operational excellence and prompt delivery."
    testimonials={[
      {
        content:
          "Elementum Energies significantly improved our operational efficiency. Their commitment to quality and prompt service has been a game-changer for our industrial operations.",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "clients served across multiple industrial sectors",
      },
      {
        count: "35%",
        description:
          "increase in operational efficiency reported by our customers",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs through our innovative solutions",
      },
      {
        count: "2x",
        description: "quicker turnaround times with our robust supply chain",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build a Safer Future"
    subTitle="Elementum Energies is dedicated to providing sustainable, high-quality industrial solutions that drive success and operational excellence."
    url="/contact"
  />
</MainLayout>
